#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  border: 0.1rem solid #353434;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.1s;
}

.titulo {
  border-left: 0.4rem solid red;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0.2rem 0.2rem #353434;
  translate: -0.2rem -0.2rem;
}

.card>h2 {
  font-size: 2rem;
}

.card>img {
  border-radius: 1rem;
}